.about-page {
  display: flex;
  width: 100%;
  height: 100vh;
  animation: fadeInContent 1s;

}

.about-static {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  height: fit-content;
}

.about-title {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 70px;
  padding-top: 30px;
}

p {
  text-align: justify;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
