.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  display: flex;
  justify-content: center;
  background-color: #344e41;

}

.logoImg {
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  transition: opacity 0.3s ease-in-out;
  color: white;
}

.home-container {
  animation: fadeInHome 0.3s ease-out;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}

@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
